<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reptile.dao.Article1Mapper">
    <resultMap id="BaseResultMap" type="com.reptile.entity.Article1">
        <result column="record_time" jdbcType="TIMESTAMP" property="recordTime"/>
        <result column="article_id" jdbcType="CHAR" property="articleId"/>
        <result column="article_type_id" jdbcType="VARCHAR" property="articleTypeId"/>
        <result column="article_title" jdbcType="VARCHAR" property="articleTitle"/>
        <result column="article_keyword" jdbcType="VARCHAR" property="articleKeyword"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="share_count" jdbcType="INTEGER" property="shareCount"/>
        <result column="collect_count" jdbcType="INTEGER" property="collectCount"/>
        <result column="collect_initcount" jdbcType="INTEGER" property="collectInitcount"/>
        <result column="share_initcount" jdbcType="INTEGER" property="shareInitcount"/>
        <result column="content_type" jdbcType="INTEGER" property="contentType"/>
        <result column="content_readcount" jdbcType="INTEGER" property="contentReadcount"/>
        <result column="content_excerpt" jdbcType="VARCHAR" property="contentExcerpt"/>
        <result column="image_path" jdbcType="VARCHAR" property="imagePath"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="details_path" jdbcType="VARCHAR" property="detailsPath"/>
        <result column="get_state" jdbcType="INTEGER" property="getState"/>
        <result column="details_size" jdbcType="INTEGER" property="detailsSize"/>
        <result column="content_crawl" jdbcType="LONGVARBINARY" property="contentCrawl"/>
        <result column="content_manual" jdbcType="LONGVARCHAR" property="contentManual"/>
        <result column="details_txt" jdbcType="LONGVARBINARY" property="detailsTxt"/>
        <result column="details_div" jdbcType="LONGVARBINARY" property="detailsDiv"/>
    </resultMap>
    <insert id="insert" parameterType="com.reptile.entity.Article1">
    insert into article1 (record_time, article_id, article_type_id, 
      article_title, article_keyword, author, 
      update_time, create_time, `source`, 
      share_count, collect_count, collect_initcount, 
      share_initcount, content_type, content_readcount, 
      content_excerpt, image_path, `state`, 
      details_path, get_state, details_size, 
      content_crawl, content_manual, 
      details_txt, details_div)
    values (#{recordTime,jdbcType=TIMESTAMP}, #{articleId,jdbcType=CHAR}, #{articleTypeId,jdbcType=VARCHAR}, 
      #{articleTitle,jdbcType=VARCHAR}, #{articleKeyword,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{source,jdbcType=VARCHAR}, 
      #{shareCount,jdbcType=INTEGER}, #{collectCount,jdbcType=INTEGER}, #{collectInitcount,jdbcType=INTEGER}, 
      #{shareInitcount,jdbcType=INTEGER}, #{contentType,jdbcType=INTEGER}, #{contentReadcount,jdbcType=INTEGER}, 
      #{contentExcerpt,jdbcType=VARCHAR}, #{imagePath,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{detailsPath,jdbcType=VARCHAR}, #{getState,jdbcType=INTEGER}, #{detailsSize,jdbcType=INTEGER}, 
      #{contentCrawl,jdbcType=LONGVARBINARY}, #{contentManual,jdbcType=LONGVARCHAR}, 
      #{detailsTxt,jdbcType=LONGVARBINARY}, #{detailsDiv,jdbcType=LONGVARBINARY})
  </insert>
    <select id="selectAll" resultMap="BaseResultMap">
    select record_time, article_id, article_type_id, article_title, article_keyword, 
    author, update_time, create_time, `source`, share_count, collect_count, collect_initcount, 
    share_initcount, content_type, content_readcount, content_excerpt, image_path, `state`, 
    details_path, get_state, details_size, content_crawl, content_manual, details_txt, 
    details_div
    from article1
  </select>


    <select id="getWxDataCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) as count from chat.article1 where 1=1
        <if test="type==1">
            AND article_title like '%3D打印%' or article_title like '%增材制造%' or article_title like '%3D 设计%' or
            article_title like '%3D 建模%'

        </if>

        <if test="type==2">
            AND article_title like '%机器人%' or article_title like '%SLAM%'

        </if>

        <if test="type==3">
            AND article_title like '%传感器%' or article_title like '%MEMS 传感%'
        </if>

        <if test="type==16">
            AND article_title like '%智能制造%' or article_title like '%工业4.0%'
        </if>
    </select>


    <select id="getWxData" parameterType="java.util.Map" resultType="java.util.Map">
        select details_txt,article_title,update_time from chat.article1 where 1=1
        <if test="type==1">
            AND article_title like '%3D打印%' or article_title like '%增材制造%' or article_title like '%3D 设计%' or
            article_title like '%3D 建模%'
        </if>

        <if test="type==2">
            AND article_title like '%机器人%' or article_title like '%SLAM%'
        </if>

        <if test="type==3">
            AND article_title like '%传感器%' or article_title like '%MEMS 传感%'
        </if>

        <if test="type==16">
            AND article_title like '%智能制造%' or article_title like '%工业4.0%'
        </if>

        ORDER BY update_time ASC LIMIT #{page},#{rows}
    </select>


    <select id="ArithmeticArticle" parameterType="java.util.Map" resultType="java.util.Map">
    select  article_id,details_txt ,article_title,details_div,create_time,author,source   from chat.article1 where 1=1
    ORDER BY update_time ASC LIMIT #{page},#{rows}
  </select>

</mapper>